<h1>Add Doctor</h1>
<%= form_with(model: @doctor, local: true, class: "ui form" ) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, autofocus: true  %>
  <br />
   <%= f.label :last_name_name %>
  <%= f.text_field :last_name, autofocus: true  %>
  <br />
  <%= f.label :specialty %>
  <%= f.select :specialty, ['General Practicioner', 'Ears, Nose, Throat', 'Family'] %>
  <br />
  <%= f.submit nil, class: "ui green button inverted" %>
<% end %>
