<h1>Add Doctor</h1>
<%= form_with(model: [@user, @appointment], local: true, class: "ui form" ) do |f| %>
  <%= f.label :doctor %>
  <%= f.select :doctor_id, @doctors.collect { |u| [u.full_name, u.id] } %>
  <br />
  <%= f.label :type %>
  <%= f.select :type, ['general', 'allergen', 'specialist'] %>
  <br />
  <%= f.submit nil, class: "ui green button inverted" %>
<% end %>
