<h1>Add Appointment</h1>
<%= form_with(model: [@doctor, @appointment], local: true, class: "ui form" ) do |f| %>
  <%= f.label :user %>
  <%= f.select :user_id, @users.collect { |u| [u.full_name, u.id] } %>
  <br />
  <%= f.label :date%>
  <%= f.text_field :date,  {"data-provide" => 'datepicker'}  %>
  <br />
  <%= f.label :time %>
  <%= f.select :time, ['8:00am', '9:00am', '10:00am', '11:00am', '12:00pm', '1:00pm', '2:00pm', '3:00pm', '4:00pm'] %>
  <br />
  <%= f.label :role %>
  <%= f.select :role, ['general', 'allergen', 'specialist'] %>
  <br />
  <%= f.submit nil, class: "ui green button inverted" %>
<% end %>
