<div class="ui secondary pointing menu">
 <div class= "ui item">
 <%= link_to 'Home', root_path %>
 </div>
  <div class="ui item">
    <%= link_to 'Doctors', doctors_path %> 
  </div>
  <div class="ui item">
    <%= link_to 'New Doctor', new_doctor_path %>
  </div>
  <div class="ui item">
    <%= link_to 'Appointments', doctor_appointments_path(:doctor) %>
  </div>
  
    <div class="ui item">
      <%= link_to 'New Appointment', new_doctor_appointment_path(:doctor) %>
    </div>
  
</div>